<div class="ui vertical segment">
    <div class="ui container">
        <div class="ui three stackable cards">
            {%- for credit_card in site.data.credit_cards -%}
                <div class="ui {{ credit_card.color }} card">
                    <div id="{{ credit_card.id }}-header" class="content">
                        <div class="header"><i class="{{ credit_card.color }} credit card icon"></i>{{ credit_card.name }}</div>
                    </div>
                    <div class="content">
                        <div>账单日：每月 <strong>{{ credit_card.statement_date }}</strong> 日</div>
                        <div>还款日：{% if credit_card.interest_free_period %}<strong>{{ credit_card.interest_free_period }}</strong> 天后{% if credit_card.payment_date %}（{% if credit_card.payment_date > credit_card.statement_date %}当{% else %}次{% endif %}月 <strong>{{ credit_card.payment_date }}</strong> 日）{% endif %}{% else %}{% if credit_card.payment_date > credit_card.statement_date %}当{% else %}次{% endif %}月 <strong>{{ credit_card.payment_date }}</strong> 日{% endif %}</div>
                    </div>
                    <div class="extra content">
                        <div>免息期：<b id="{{ credit_card.id }}-interest-free-period">0</b> 天</div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</div>